<% layout('/layout/boilerplate') %>

<body>
    <h1> <%= singleList.title %></h1>
    <ul>
        <li> <%= singleList.title %></li>
        <li> <%= singleList.description %></li>
        <li> &#8377;<%= singleList.price.toLocaleString("en-IN") %></li>
        <li> <%= singleList.location %></li>
        <li> <%= singleList.country %></li>
    </ul>
    <br>
    <a href="/listings/<%= singleList._id%>/edit">Edit this Listing</a>
    <br><br>
    <form method="post" action="/listings/<%=singleList._id %>?_method=DELETE">
        <button>Delete</button>
    </form>
</body>